.Block{
    width: 100%;
    height: 95px;
    outline: none;
    color: #eee;
    padding: 10px 0;
    font-size: 25px;
    font-weight: bold;
    background: transparent;
    border: 1.5px solid #eee;
}